{% extends 'shop/base.html' %}

{% load static %}

{%block css%}
  <link rel="stylesheet" href="{%static 'shop/css/style.css'%}" />
{%endblock%} 

{%block title%}Shop{%endblock%} 

{% block body%}
<!-- container div here -->
<div class="container">
  {% for products,range,cat in allProds%}
    <h1 class="my-4">{{cat}}</h1>
    <div class="row">
      <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
        <ul class="carousel-indicators">
          <!-- <li data-target="#demo" data-slide-to="0" class="active"></li> -->
          {%for i in range%}
            <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
            {% comment %}
            <li data-target="#demo" data-slide-to="2"></li>
            {% endcomment %}
          {%endfor%}
        </ul>

        <!--Slideshow starts here -->
        <div class="container carousel-inner no-padding">
          <div class="carousel-item active">
<!--             <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card" style="width: 18rem;">
                <img
                  src="/media/{{products.0.image}}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">{{products.0.product_name}}</h5>
                  <p class="card-text">
                    {{products.0.desc|slice:"0:35"}}
                  </p>
                  <a
                    id="pr{{products.0.id}}"
                    href="#"
                    class="btn btn-primary cart"
                    >Add to Cart</a>
                  <a
                    id="pr{{products.0.id}}"
                    href="#"
                    class="btn btn-primary cart mx-2"
                    >Quick View</a
                  >
                </div>
              </div>
            </div> -->
            {%for i in products%}
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card" style="width: 18rem;">
                <img src="/media/{{i.image}}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
                  <p class="card-text">
                    {{i.desc|slice:"0:32"}}
                  </p>
                  <span id="divpr{{i.id}}" class="divpr">
                    <a id="pr{{i.id}}" href="#" class="btn btn-primary cart"
                      >Add to Cart</a>
                  </span>
                  <a id="qv{{i.id}}" href="/shop/products/{{i.id}}" class="btn btn-primary mx-2"
                    >Quick View</a
                  >
                </div>
              </div>
            </div>
              {%if forloop.counter|divisibleby:4 and forloop.counter >= 0 and not forloop.last%}
                </div><div class="carousel-item">
              {%endif%} 
            {%endfor%}
          </div>
        </div>
      </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
          <span class="carousel-control-prev-icon" style="background-image: url({%static 'shop/back.png'%});"></span></a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
          <span class="carousel-control-next-icon" style="background-image: url({%static 'shop/next.png'%});"></span></a>
    </div>
  {%endfor%} 
</div>
{% endblock %}
      
{%block js%}
  <script src="{% static 'shop/js/index.js' %}"></script>
{%endblock%}
